---
layout: base
---

<header class="header-section">
  <div class="intro-header">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="page-heading">
          <h1><img src="/img/logo.svg" alt="Research Coding Club"><br/></h1>
          <hr class="small">
          <span class="page-subheading">Skills and training for people developing research software</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      <h1 id="introduction">Introduction</h1>

      <p>
        Research Coding Club at the University of York is an informal group for people who work with
        research software. We offer a modular training programme to support researchers at any level
        in developing their software development skills and applying
        the <a href="https://doi.org/10.1038/sdata.2016.18">FAIR (Findable Accessible,
        Interoperable, Reusable)</a> principles and open research practices to their research
        software and data.

      <h3 id="course-outline">Course Outline</h3>
      <ul>
        <li>Better Software for Better Research: Introduction to the Research Coding Course</li>
        <li>Version control: Introduction to Git and GitHub</li>
        <li>Software lifecycle planning</li>
        <li>Software design</li>
        <li>Testing and Continuous Integration</li>
        <li>Documentation</li>
        <li>Reproducible computational environments</li>
        <li>Packaging</li>
        <li>Publishing a software paper in JOSS</li>
      </ul>

      See the <a href="/course/">Course page</a> for more details.
      </p>

      <h2 id="target-audience">Target audience</h2>

      <p>We welcome everyone working with research software, from undergraduates to professors, from
        beginners to experts, and from people who create analysis scripts on their laptops to those
        who run first principles modelling on supercomputers.</p>

      <h1 id="code-clinic">Code Clinic</h1>

      <p>We also offer Code Clinics where you can discuss problems / ideas / anything around the
        topic of research software. We have a bunch of experts in a wide variety of technical
        subjects and research disciplines. See the <a href="/clinics/">Code Clinics page</a> for
        more information.</p>

      <h1 id="contact-us">Contact us</h1>

      <p>There’s a few ways you can get in contact with us:</p>

      <ul>
        <li>
          <p>To get more information on Research Coding Club, you can <a href="mailto:research-coding-club-group+managers@york.ac.uk">email us</a>.</p>
        </li>
        <li>
          <p>
            Subscribe
            to <a href="https://groups.google.com/a/york.ac.uk/forum/?hl=en-GB#!forum/research-coding-club-group/join">our
            mailing list</a> (you will need to sign into your University of York account) to get
            updates on upcoming meetings.
          </p>
        </li>
        <li>
          <p>We also have a <a href="https://uoy.slack.com/archives/C015ZG0CVBL">Slack channel</a> on the University of York Slack workspace,
            where you can drop in any time to get help and advice. This is currently only
            available to staff and research postgraduate students.</p>
        </li>
      </ul>

      <h1 id="calendar">Calendar</h1>

      <p>Finally, we have a <a href="https://calendar.google.com/calendar/u/0?cid=Y19ydXBjMGo0MnQzMjdkb2ZtOTIzbjFwM2Fib0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t">Google Calendar</a> that contains information about our events:</p>

      <iframe src="https://calendar.google.com/calendar/embed?src=c_rupc0j42t327dofm923n1p3abo%40group.calendar.google.com&amp;ctz=Europe%2FLondon&amp;showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    </div>
  </div>
</main>
